<!DOCTYPE html>
<html>
<head>
	<title>vuelearn04</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
	<div id="app">
		<h1>学生表</h1>
		<el-row :gutter="20">
		  <el-col :span="4"><el-input v-model="infos.name" placeholder="姓名"></el-input></el-col>
		  <el-col :span="4"><el-input v-model="infos.sex" placeholder="性别"></el-input></el-col>
		  <el-col :span="4"><el-input v-model="infos.phone" placeholder="电话"></el-input></el-col>
		  <el-col :span="4"><el-date-picker v-model="infos.birthday" type="date" placeholder="选择日期"> </el-date-picker></el-input></el-col>
		  <el-col :span="4"><el-button type="primary" v-on:click="adduser">添加按钮</el-button></el-input></el-col>		  
		</el-row>
		<template>
		  <el-table
		    :data="tableData"
		    stripe
		    style="width: 100%">
		    <el-table-column
		      type="index"
		      width="50">
		    </el-table-column>
		    <el-table-column
		      prop="name"
		      label="姓名"
		      width="180">
		    </el-table-column>
		    <el-table-column
		      prop="sex"
		      label="性别"
		      width="180">
		    </el-table-column>
		    <el-table-column
		      prop="phone"
		      label="电话"
		      width="180">
		    </el-table-column>
		    <el-table-column
		      prop="birthday"
		      label="生日"
		     >
		    </el-table-column>
		  </el-table>
		</template>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="./js/index.js"></script>
</body>
</html>